/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro|Baloo|Podkova|Telex&display=swap');

/* Mostly color definitions */
:root {
	--dark-accent: #ba7c4e;
	--dark-shade: #546784;
	--light-shade: #f9f9f8;
	--light-accent: #9a9189;
	--main-shade: #d0b999;
}

body {
	background-color: var(--light-shade);
	color: black;
	font-family: Telex, Helvetica, Arial, sans-serif;
	font-size: 16px;
}

header {
	text-align: center;
}

h1, h2, h3 {
	font-family: Baloo, Segoe UI, fantasy;
	margin: .5em 0;
	line-height: 1em;
}

h1 {
	font-size: 3.5em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.8em;
}

/* If the screen width is 425px or less... */
@media screen and (max-width: 425px){
	header h1 {
		font-size: 15vw;
	}
	
	header h2 {
		font-size: 9vw;
	}
}

a {
	color: deepSkyBlue;
	filter: brightness(100%);
	transition: filter .5s ease;
}

a:visited {
	color: darkOrchid;
}

a:not(.nav-link):not(.tio-message):not(.inline-code):hover {
	filter: brightness(130%);
}

/* Navbar styles */

nav #nav-items {
	/* This is not a list */
	list-style-type: none;
	margin: 0;
	padding: 0;
	/* This fixes things with the floating */
	overflow: hidden;
}

nav li {
	/* Once again, this is not a list */
	list-style-type: none;
	background-color: var(--main-shade);
	border: 2px solid darkSlateGray;
	border-radius: .25em;
	margin: 5px 5px;
	float: left;
	/* This fixes...something */
	overflow: auto;
	width: -moz-fit-content;
	width: fit-content;
	transition: background-color 1s ease;
}

nav a, nav a:visited {
	/* Just in case */
	display: block;
	color: black;
	text-decoration: none;
	padding: 7px 14px;
	transition: padding-left .5s ease, color .5s ease;
}

nav li.active {
	background-color: var(--light-accent);
}

nav li.active a {
	color: var(--light-shade);
}

nav li:not(.active):hover {
	background-color: var(--dark-accent);
}

nav li:not(.active):hover a {
	color: white;
	padding-left: 1.8em;
}

nav #nav-collapse, nav label[for="nav-collapse"] {
	/* Do not display by default */
	display: none;
}

/* If the screen width is 800px or less... */
@media screen and (max-width: 800px){
	nav li {
		float: none;
		/* Center horizontally */
		margin: 5px auto;
	}
	
	nav #nav-collapse {
		/* Don't display the checkbox */
		display: none;
	}
	
	nav label[for="nav-collapse"] {
		/* This fixes things */
		display: block;
		position: relative;
		background-color: var(--main-shade);
		color: black;
		width: 100%;
		box-sizing: border-box;
		letter-spacing: .1em;
		font-family: Podkova, Georgia, serif;
		font-weight: bold;
		font-variant: small-caps;
		text-align: center;
		border: 2px solid darkSlateGray;
		border-radius: 8px;
		margin: 10px auto;
		padding: 10px 15px;
		transition: background-color .5s ease, color .5s ease;
	}
	
	nav label[for="nav-collapse"]:hover {
		background-color: var(--dark-accent);
		color: white;
		cursor: pointer;
	}
	
	nav #nav-items {
		/* By default, have the nav-bar collapsed */
		max-height: 0;
		transition: all .75s ease;
	}
	
	nav #nav-collapse:checked ~ #nav-items {
		/* Expand to its full height */
		max-height: 350px;
	}
}

.inline-code {
	display: inline-block;
	background-color: paleGreen;
	color: black;
	border: 1px solid seaGreen;
	border-radius: 3px;
	font-family: Anonymous Pro, Consolas, Courier New, monospace;
	font-weight: bold;
	padding: .1em .3em;
}

a.inline-code {
	text-decoration: none;
}

a.inline-code:visited {
	color: black;
}

a.inline-code:hover {
	cursor: pointer;
}

code, input[type="text"], textarea, #output-container, #gematriabot-output {
	display: block;
	background-color: paleGreen;
	color: black;
	border: 2px solid seaGreen;
	border-radius: 5px;
	font-family: Anonymous Pro, Consolas, Courier New, monospace;
	font-size: 18px;
	width: -moz-fit-content;
	width: fit-content;
	max-width: 100%;
	box-sizing: border-box;
	margin: .5em 0;
	padding: .5em;
	line-height: 1.25em;
	overflow-x: auto;
}

code, #program-output {
	white-space: pre-wrap;
}

input[type="text"] {
	width: 400px;
	/* Because of the C in CSS, this already respects max-width: 100% */
	outline: none;
	padding: .1em .5em;
	transition: box-shadow .25s linear;
}

textarea {
	resize: none;
	outline: none;
	transition: box-shadow .25s linear;
}

input:focus, textarea:focus {
	box-shadow: 0px 0px 10px seaGreen;
}

#output-container {
	white-space: initial;
}

#gematriabot-output {
	white-space: initial;
	margin: .5em auto;
	line-height: initial;
}

/* Asterisks FTW */
*[data-placeholder]:empty:before {
	content: attr(data-placeholder);
	color: gray;
}

#program-error {
	color: crimson;
	font-weight: bold;
}

#program-done {
	color: seaGreen;
	font-weight: bold;
}

#share-text {
	/* Initially don't let this display */
	display: none;
	opacity: 0;
	/* Make it so the user doesn't accidentally select it */
	/* (This is not secure, but this is also not important enough to need securing) */
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	font-family: Anonymous Pro, Consolas, Courier New, monospace;
	font-size: 1.1em;
	font-weight: bold;
	margin: 0 5px;
}

#gematriabot-container {
	width: 75vw;
	/* Center everything! It must be symmetrical! */
	text-align: center;
	margin: 0px auto;
}

#gematriabot-container input[type="text"] {
	/* Horizontally center the text input */
	margin: .5em auto;
}

#gematriabot-checkbox-container {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.gematriabot-output-number {
	font-size: 4em;
}

.gematriabot-output-bolded {
	font-size: 1.25em;
	font-weight: bolder;
}

.gematriabot-pos {
	display: inline-block;
	color: white;
	text-shadow: 2px 2px 3px black;
	padding: .2em .5em;
	margin: .2em .1em;
	border: 2px solid black;
	border-radius: 8px;
}

.gematriabot-pos.gematriabot-pos-noun {
	background-color: paleVioletRed;
}

.gematriabot-pos.gematriabot-pos-verb {
	background-color: tan;
}

.gematriabot-pos.gematriabot-pos-adjective {
	background-color: khaki;
}

.gematriabot-pos.gematriabot-pos-adverb {
	background-color: lightGreen;
}

.gematriabot-pos.gematriabot-pos-number {
	background-color: steelBlue;
}

.gematriabot-pos.gematriabot-pos-other {
	background-color: mediumOrchid;
}

a.tio-message {
	/* The first two styles fix link properties I don't want */
	display: block;
	text-decoration: none;
	background-color: mediumSeaGreen;
	color: mintCream;
	font-family: Baloo, Segoe UI, fantasy;
	font-size: 18px;
	width: -moz-fit-content;
	width: fit-content;
	border: 2px solid seaGreen;
	border-radius: 5px;
	/* Right-align */
	margin: .2em 0 0 auto;
	padding: .1em .3em;
}

/* So I don't have to add it myself */
.tio-message:after {
	content: "Try It Online!";
}

.buttons-container {
	margin: 5px 0;
}

button {
	font-family: Podkova, Georgia, serif;
	font-size: 1.5em;
	border: 2px solid black;
	border-radius: 8px;
	margin: 10px 0;
	padding: 3px 5px;
	outline: none;
	cursor: pointer;
	white-space: pre;
	/* The shadow emphasizes the push-down */
	box-shadow: 0px 8px 5px 0px gray;
	transition: background-color .4s ease, color .4s ease, box-shadow .1s ease, transform .1s ease;
}

button.good {
	background: snow;
	color: limeGreen;
}

button.bad {
	background: snow;
	color: crimson;
}

button.good:hover {
	background: limeGreen;
	color: snow;
}

button.bad:hover {
	background: crimson;
	color: snow;
}

button:active {
	transform: translateY(4px);
	box-shadow: 0px 4px 5px 0px gray;
}

.checkbox-label {
	display: inline-block;
	position: relative;
	cursor: pointer;
	/* We're setting the font size so we can size by ems */
	font-size: 24px;
	height: 1em;
	width: 1em;
	margin: 8px;
}

.checkbox-label input {
	/* Hide the checkbox */
	position: absolute;
	opacity: 0;
	height: 0;
	width: 0;
}

.checkbox-label .checkbox-checkmark {
	position: absolute;
	background-color: paleGreen;
	/* To compensate for the border (box-sizing: border-box does not help) */
	top: -2px;
	left: -2px;
	height: 1em;
	width: 1em;
	border: 2px solid seaGreen;
	border-radius: 5px;
	transition: background-color .25s ease;
}

.checkbox-label .checkbox-checkmark:after {
	content: "";
	position: absolute;
	top: .1em;
	left: .3em;
	height: .5em;
	width: .25em;
	border: solid paleGreen;
	border-radius: 0;
	border-width: 0 .15em .15em 0;
	transform: rotate(-180deg) scale(0);
	transition: transform .25s ease;
}

.checkbox-label input:checked ~ .checkbox-checkmark {
	background-color: seaGreen;
}

/* Haha this looks like a checkmark */
.checkbox-label input:checked ~ .checkbox-checkmark:after {
	transform: rotate(45deg) scale(1);
}

.checkbox-label-container {
	display: flex;
	/* Vertically align stuff */
	align-items: center;
	justify-content: center;
	width: -moz-fit-content;
	width: fit-content;
	margin: 0px .35em;
}

.table-container {
	max-height: 70vh;
	overflow-x: auto;
	overflow-y: auto;
	margin: .5em 0;
}

table {
	background-color: blanchedAlmond;
	border: 3px solid black;
	border-collapse: collapse;
}

table th, table td {
	padding: .5em;
	text-align: center;
	font-size: 110%;
}

table th {
	background-color: limeGreen;
	color: honeyDew;
	border: 3px solid black;
	font-size: 130%;
	font-weight: bold;
}

table td {
	border: 2px solid black;
	color: black;
}

hr {
	border: 2px solid var(--dark-accent);
}

address {
	line-height: 1.5em;
}

jw-icon {
	width: 1.5em;
	height: 1.5em;
	vertical-align: middle;
}

jw-icon[type="github"] {
	content: url(images/github.png);
}

jw-icon[type="gmail"] {
	content: url(images/gmail.png);
}

jw-icon[type="itchio"] {
	content: url(images/itchio.png);
}

jw-icon[type="twitter"] {
	content: url(images/twitter.png);
}